@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Noto+Sans:wght@400;700&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@import url(./reset.css);
@import url(./common.css);
.header {
    position: fixed;
    width: 100%; height: 71px;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    transition: .3s;
    z-index: 10;
}
.header.hide {
    transform: translateY(-100%);
}
.header.over {
    height: 135px;
}
.inner {
    width: 100%;
    margin: 0 auto;
}
.header .gnb-area {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; height: 72px;
    z-index: 0;
}
.gnb-area .link-home {
    display: block;
    height: 100%;
}
.gnb-area .logo {
    width: 115px; height: 32px;
    background: url(../images/logo.png) no-repeat;
    background-size: 115px;
}
.header .gnb-area .ic-menu {
    display: none;
    width: 16px; height: 12px;
    background: url(../images/ic-menu.svg) no-repeat;
    cursor: pointer;
}
.open-menu-wrap .open-menu-header { 
    position: fixed;
    left: 40px; right: 45px;
    height: 50px;
    background: #fff;
    z-index: 1;
}
.open-menu-wrap.hide .open-menu-header {
    display: none;
}
.open-menu-header .btn-close {
    width: 46px; height: 46px;
    margin-right: -16px;
    background: url(../images/btn-close.svg) no-repeat;
    background-size: 14px;
    background-position: center;
    cursor: pointer;
}
.gnb-area .menu-area {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    height: 72px;
}
.gnb-area .menu-area .menu-item {
    height: 72px;
}
.ani-lol {
    display: none;
}
.gnb-area .menu-area .link-menu {
    padding: 0 17px;
    line-height: 72px;
}
.gnb-area .menu-area .link-menu.over {
    font-weight: 700;
}
.gnb-area .menu-area .submenu-area {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 72px; left: 0;
    width: 100%; height: 64px;
    font-weight: 700;
    color: #d6d7da;
    transition: .3s;
    pointer-events: none;
    opacity: 0;
}
.gnb-area .menu-area .menu-item.over .submenu-area {
    pointer-events: all;
    opacity: 1;
}
.gnb-area .menu-area .link-submenu {
    display: inline-block;
    padding: 0 15px;
    line-height: 64px;
    white-space: nowrap;
    transition: .3s;
}
.gnb-area .menu-area .link-submenu.active {
    color: #232324;
}
.gnb-area .side-area {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 12px;
}
.side-area .recruit-menu .link-menu {
    display: inline-block;
    position: relative;
    padding: 0 12px;
}
.side-area .recruit-menu .link-menu.link-open-menu {
    font-weight: 400;
}
.open-menu-wrap.hide .link-open-menu {
    display: none;
}
.open-menu-header.hide .recruit-menu .link-open-menu {
    display: none;
}
.side-area .recruit-menu .link-menu::after {
    content: '';
    display: inline-block;
    width: 8px; height: 8px;
    vertical-align: middle;
    margin-left: 4px;
    background: url(../images/ic_sideMenu.svg) no-repeat;
}
.side-area .other-menu-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.open-menu-wrap .side-area .other-menu {
    display: flex;
    font-weight: 700;
    color: #a6a7a9;
}
.open-menu-wrap.hide .side-area .other-menu {
    display: none;
}
.side-area .other-menu .link-menu {
    display: inline-block;
}
.side-area .other-menu .link-menu:first-child {
    margin-right: 32px;
}
.open-menu-header.hide .side-area .other-menu {
    display: none;
}
.side-area .lang-area {
    display: flex;
    font-size: 12px;
    font-weight: 700;
    color: #d6d7da;
}
.side-area .lang-area .link-menu {
    position: relative;
    display: block;
    width: 36px; height: 36px;
    line-height: 36px;
    text-align: center;
}
.side-area .lang-area .link-menu.active {
    color: #232324;
}
.side-area .lang-area .link-menu:first-child::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%; right: 0;
    transform: translateY(-50%);
    width: 1px; height: 10px;
    background: #d6d7da;
}

.footer {
    padding: 60px 24px 85px;
    background: #f3f4f5;
}
.footer .inner {
    max-width: 1186px;
    padding: 0 7px;
    box-sizing: border-box;
}
.footer .menu-area {
    display: flex;
    margin: 0 auto 28px;
}
.footer .menu-area .menu-item {
    flex: 1;
    margin-top: 8px;
    padding-right: 8px;
}
.footer .menu-item .link-menu, .corp-area .adress-area .corp-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.75;
    color: #37373a;
}
.footer .submenu-area .submenu-item {
    margin-top: 8px;
    padding-right: 8px;
    font-size: 14px;
    color: #6c6d6f;
}
.submenu-area .link-submenu.ccm-mark::before {
    content: '';
    display: inline-block;
    width: 19px; height: 12px;
    margin-right: 4px;
    vertical-align: middle;
    background: url(../images/ccm_mark.svg) no-repeat;
}

.footer .corp-area {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.corp-area .adress-area {
    font-size: 14px;
    color: #37373a;
}
.corp-area .adress-area address {
    margin-top: 8px;
    margin-right: 20px;
    line-height: 1.7142857143;
}
.adress-area address span+span::before {
    content: '|';
    font-size: inherit;
    display: inline-block;
    margin-right: 4px;
}

.footer .related-area {
    position: relative;
}
.related-area .btn-related {
    position: relative;
    width: 327px; min-height: 50px;
    padding: 13px 16px;
    border: 1px solid #a6a7a9;
    border-radius: 8px;
    background: #fff;
    font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
    font-size: 14px;
    text-align: left;
    color: #37373a;
    cursor: pointer;
    box-sizing: border-box;
}
.footer .related-area .ic-arrow {
    position: absolute;
    top: 21px; right: 16px;
    content: '';
    display: inline-block;
    width: 12px; height: 8px;
    background: url(../images/drop_down.svg) no-repeat;
    transition: .3s ease-in-out;
    pointer-events: none;
}
.footer .related-area .ic-arrow.down {
    background: url(../images/drop_down.svg) no-repeat;
}
.footer .related-area .ic-arrow.up {
    transform: rotate(-180deg);
}
.related-area .site-area {
    position: absolute;
    bottom: 100%; left: 0;
    width: 100%; max-height: 215px;
    margin-bottom: 4px;
    border: 1px solid #a6a7a9;
    border-radius: 8px;
    box-shadow: 2px 4px 10px rgb(0 0 0 / 8%);
    background: #fff;
    transform: translateY(0);
    transition: .5s ease-in-out;
    box-sizing: border-box;
    overflow-y: scroll;
    opacity: 1;
}
.related-area .site-area.hide {
    transform: translateY(5%);
    opacity: 0;
}
.related-area .site-area .link-site {
    display: block;
    height: 50px;
    margin: 0 16px;
    font-size: 14px;
    line-height: 50px;
    box-sizing: border-box;
}
.site-area .site-item:not(:first-child) .link-site {
    border-top: 1px solid #f3f4f5;
}

@media all and (max-width:1200px) {
    .header {
        padding: 0 40px;
        box-sizing: border-box;
    }
    .header .recruit-menu {
        display: none;
    }
}

@media all and (max-width:1023px) {
    .header {
        height: 50px;
    }
    .header .gnb-area {
        height: 50px;
    }
    .gnb-area .logo {
        width: 91px;
        height: 50px;
        background-size: 91px;
        background-position: center;
    }
    .header .gnb-area .ic-menu {
        display: block;
    }
    .header .gnb-area .open-menu-wrap {
        position: fixed;
        top: 0; bottom: 0; left: 0; right: 0;
        padding: 0 40px;
        background: #fff;
        overflow-y: scroll;
        transition: .8s;
        z-index: 100;
    }
    .header .gnb-area .open-menu-wrap.hide {
        transform: translateX(100%);
    }
    .header .gnb-area .open-menu-header {
        display: flex;
        justify-content: space-between;
    } 
    .gnb-area .open-menu-header .close-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .gnb-area .menu-area {
        display: block;
        position: unset;
        transform: none;
        width: 100%; height: auto;
        margin-top: 50px;
    }
    .gnb-area .menu-area .menu-item {
        position: relative;
        height: auto;
    } 
    .gnb-area .menu-area .menu-item.has-sub::after {
        content: '';
        position: absolute;
        top: 33px; right: 0;
        width: 12px; height: 8px;
        background: url(../images/drop_down.svg) no-repeat;
        transition: .3s;
    }
    .gnb-area .menu-area .menu-item.open-sub::after {
        transform: rotate(180deg);
    }
    .gnb-area .menu-area .link-menu {
        display: block;
        height: 74px;
        padding: 0;
        font-size: 24px;
        font-weight: 700;
        line-height: 74px;
    }
    .gnb-area .menu-area .menu-item .submenu-area {
        position: unset;
        display: block;
        height: auto;
        max-height: 0;
        margin-left: 24px;
        pointer-events: all;
        transition: .3s;
        overflow: hidden;
    }
    .gnb-area .menu-area .menu-item.open-sub .submenu-area {
        max-height: 250px;
        opacity: 1;
    }
    .gnb-area .submenu-area .submenu-item {
        height: 28px;
        margin-bottom: 16px;
        font-weight: 400;
        color: #6c6d6f;
    }
    .gnb-area .submenu-area .submenu-item:last-child {
        padding-bottom: 16px;
    }
    .gnb-area .menu-area .link-submenu {
        display: block;
        padding: 0;
        line-height: 28px;
    }
    .open-menu-wrap .menu-font {
        display: flex;
        align-items: center;
        gap: 6px;
    }
    .open-menu-wrap .menu-font .link-menu {
        display: inline-block;
    }
    .open-menu-wrap .menu-item .ani-lol {
        display: flex;
        font-family: 'Hanna', sans-serif;
        font-weight: bold;
    }
    .open-menu-wrap .menu-item .ani-lol span.hide {
        display: none;
    }
    /* .open-menu-wrap .menu-item i {
        float: left;
    }
    .open-menu-wrap.hide .menu-item .ani-font {
        display: none;
    } */
    .gnb-area .side-area {
        display: block;
        flex-wrap: wrap;
        height: auto;
        padding-top: 25px;
        margin-top: 10px;
        border-top: 1px solid #ebeef2;
        font-size: 16px;
    }
    .side-area .recruit-menu {
        display: block;
        overflow: hidden;
        clear: both;
    }
    .side-area .recruit-menu .link-menu {
        float: left;
        padding: 0;
        height: 44px;
        font-weight: 700;
        line-height: 44px;
    }
    .gnb-area .side-area .recruit-menu .link-menu:nth-child(odd) {
        clear: left;
        margin-right: 24px;
    }
    .side-area .other-menu-wrap {
        margin: 35px 0 23px;
    }
    .open-menu-wrap .side-area .other-menu {
        display: flex;
    }
    .side-area .lang-area {
        display: flex;
        font-size: 14px;
    }
}

@media all and (max-width:767px) {
   .header {
    padding: 0 24px;
   }
   .header .gnb-area .open-menu-wrap {
    padding: 0 24px;
   }
   .open-menu-wrap .open-menu-header {
    left: 24px; right: 29px;
   }
   .footer .menu-area {
    flex-wrap: wrap;
    margin-bottom: 40px;
    }

    .footer .menu-area .menu-item {
        flex: none;
        min-width: 33.3334%;
        white-space: nowrap;
        margin-bottom: 40px;
    }

    .footer .menu-area .menu-item:last-child {
        width: 100%;
        padding-top: 40px;
        margin: 6px 0 40px;
        border-top: 1px solid #d6d7da;
    }

    .footer .menu-area .menu-item:last-child .submenu-area {
        display: flex;
        flex-wrap: wrap;
    }

    .footer .menu-area .menu-item:last-child .submenu-item {
        flex-basis: 46%;
    }

    .footer .corp-area {
        flex-direction: column-reverse;
        align-items: baseline;
    }

    .footer .corp-area .related-area {
        width: 100%;
    }

    .footer .corp-area .related-area button {
        width: 100%;
        margin-bottom: 40px;
    }

    .corp-area .adress-area {
        font-size: 12px;
    }

    .adress-area span {
        display: block;
        white-space: nowrap;
    }

    .adress-area address span+span::before {
        display: none;
    }
    .corp-area .site-area .link-hide {
        display: none;
    }
}