.container {
    padding-top: 72px;
    text-align: center;
}
.container .sc-mainSlide {
    padding: 0;
}
.container .sc-mainSlide .swiper-pagination {
    bottom: 43px;
}
.container .sc-mainSlide .swiper-pagination .swiper-pagination-bullet {
    opacity: 1;
    margin: 0 4px;
    border-radius: 4px;
    background-color: hsla(0,0%,100%,.5);
    transition: .3s ease-in-out;
}
.container .sc-mainSlide .swiper-pagination .swiper-pagination-bullet-active {
    width: 20px;
    background-color: #fff;
}
.sc-mainSlide .swiper-wrapper .swiper-slide .link-slide {
    position: relative;
    width: 100%; height: 100%;
}
.sc-mainSlide .link-slide .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; height: 100%;
    overflow: hidden;
}
.sc-mainSlide .swiper-slide-active .link-slide .img-box img {
    filter: brightness(.9);
    object-fit: cover;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.36,.11,.27,1.14)
}
.sc-mainSlide .swiper-slide-active .link-slide.slide-more01 .img-box img {
    filter: none;
}
.swiper-slide-active .img-box.left img {
    animation: aniLeft 3s linear;
}
.swiper-slide-active .img-box.right img {
    animation: aniRight 3s linear;
}
.swiper-slide-active .img-box.up img {
    animation: aniUp 3s linear;
}
.swiper-slide-active .img-box.down img {
    animation: aniDown 3s linear;
}
.swiper-slide-active .img-box.small img {
    width: 884px; height: 1250px;
    animation: aniSmall 3s linear;
}
.sc-mainSlide .link-slide.slide-intro04 video{
    width: 100%; height: 100%;
    object-fit: cover;
    filter: brightness(.9);
}
.sc-mainSlide .link-slide .txt-box {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 700;
    color: #fff;
}
.sc-mainSlide .link-slide .txt-box.black {
    color: rgb(28, 28, 28);
}
.sc-mainSlide .txt-box .desc {
    padding: 35px 0 40px;
    font-family: 'Hanna', 'Noto Sans', 'Noto Sans KR', sans-serif;
    font-size: 51px;
    font-weight: 400;
    line-height: 1.3em;
    letter-spacing: .06em;
}
.sc-mainSlide .txt-box .desc .fiction {
    display: none;
}
.sc-mainSlide .txt-box .desc .fade {
    display: block;
}
.sc-mainSlide .txt-box .desc .fade i {
    opacity: 0;
}
.sc-mainSlide .txt-box .cate {
    font-size: 14px;
}

@keyframes aniLeft {
    from {
        transform: scale(1.2) translateX(5%)
    }
    to {
        transform: scale(1.2) translateX(-1%);
    }
}
@keyframes aniRight {
    from {
        transform: scale(1.1) translateX(-5%)
    }
    to {
        transform: scale(1.1) translateX(1%);
    }
}
@keyframes aniUp {
    from {
        transform: scale(1.1) translateY(5%)
    }
    to {
        transform: scale(1.1) translateY(-1%);
    }
}
@keyframes aniDown {
    from {
        transform: scale(1.1) translateY(-5%)
    }
    to {
        transform: scale(1.1) translateY(1%);
    }
}
@keyframes aniSmall {
    from {
        transform: scale(0.7)
    }
    to {
        transform: scale(0.6)
    }
}

.container .sc-story {
    padding-top: 160px;
    overflow: hidden;
}
.sc-story .slide-story {
    display: flex;
}
.sc-story .story-area {
    display: inline-flex;
    animation: storySlide 190s linear infinite;
    animation-play-state: running;
}
.sc-story .story-area.dup {
    animation: storySlideDup 190s linear infinite;
}
.sc-story .slide-story.pause .story-area {
    animation-play-state: paused;
}
.sc-story .story-list {
    position: relative;
    width: 180px; height: 245px;
    margin: 0 8px;
    border-radius: 10px;
    overflow: hidden;
}
.sc-story .story-list:nth-child(odd) {
    margin-top: 40px;
}
.sc-story .story-list .link-story {
    display: block;
    width: 100%; height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sc-story .story-list .link-story::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.1);
    box-sizing: border-box;
}
.sc-story .story-list .img-box {
    width: 100%; height: 100%;
}
.sc-story .story-list .img-box::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    display: block;
    width: 100%; height: 100%;
    background: linear-gradient(180deg,transparent 50%,rgba(0,0,0,.5));
}
.sc-story .story-list img {
    width: 100%; height: 100%;
    object-fit: cover;
    transition: .5s ease-in-out;
}
.sc-story .story-list img.over {
    transform: scale(1.1);
}
.sc-story .story-title {
    position: absolute;
    bottom: 16px; left: 12px;
    display: -webkit-box;
    max-height: 52px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.625;
    white-space: pre-line;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

@keyframes storySlide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%);
    }
    50.01%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes storySlideDup {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}
.container .sc-video {
    padding-top: 160px;
    margin-bottom: 80px;
    overflow: hidden;
}
.sc-video .video-wrap {
    width: 780px;
    margin: 0 auto;
}
.sc-video .sc-desc {
    margin-bottom: 80px;
}
.sc-video .video-wrap {
    position: relative;
    margin-bottom: 80px;
}
.sc-video .video-wrap video {
    width: 100%; height: 100%;
}
.sc-video .video-wrap .btn-control {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 80px; height: 80px;
    opacity: 1;
}
.sc-video .video-wrap .btn-control.pause {
    background: url(../images/video_control_stop.svg) no-repeat;
}
.sc-video .video-wrap .btn-control.play {
    background: url(../images/video_control_play.svg) no-repeat;
}
.sc-video .video-wrap .btn-control.hide {
    opacity: 0;
}
.sc-video .sc-desc:last-child {
    margin: 0;
}

.container .sc-green {
    padding-top: 80px;
}
.sc-green .link-green {
    position: relative;
    display: block;
    width: 100%; height: 680px;
    background: url(../images/green.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.sc-green .link-green .txt-box {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.sc-green .txt-box h2 {
    display: inline-block;
    width: 120px; height: 40px;
    margin-bottom: 20px;
    background: url(../images/green__logo.png);
    background-size: 120px;
}
.sc-green .txt-box img {
    width: 110px;
    margin-bottom: 20px;
}

.container .sc-news {
    padding: 120px 0;
}
.sc-news .news-list {
    max-width: 820px;
    margin: 0 auto;
}
.sc-news .link-news {
    display: flex;
    padding: 40px 20px;
    margin: 0 auto;
    border-bottom: 1px solid #f3f4f5;
}
.sc-news .link-news.over {
    background: #F3F4F580;
}
.sc-news .link-news .img-box {
    position: relative;
    width: 200px; height: 160px;
    margin-right: 40px;
    overflow: hidden;
}
.sc-news .link-news .img-box::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    border: 1px solid rgba(0,0,0,.1);
    box-sizing: border-box;
}
.sc-news .img-box img {
    width: 100%; height: 100%;
    object-fit: cover;
    vertical-align: top;
    transform: scale(1);
    transition: .5s ease-in-out;
}
.sc-news .img-box img.over {
    transform: scale(1.1);
}
.sc-news .txt-box {
    flex: 1;
    text-align: left;
}
.sc-news .txt-box .news-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 64px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
    text-overflow: ellipsis;
    overflow: hidden;
}
.sc-news .txt-box .news-desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 52px;
    margin-bottom: 10px;
    line-height: 1.625;
    text-overflow: ellipsis;
    overflow: hidden;
}
.sc-news .txt-box .date {
    font-size: 14px;
    line-height: 1.7142857143;
    color: #a6a7a9;
}
.container .slide-font {
    display: flex;
}
.container .sc-font {
    padding: 120px 0 136px;
    color: #fff;
    background: #232324;
    overflow: hidden;
}
.sc-font .font-area {
    display: inline-flex;
    animation: fontSlide 40s linear infinite;
}
.sc-font .font-area.dup {
    animation: fontSlideDup 40s linear infinite;
}
.sc-font .font-list {
    position: relative;
    width: 160px; height: 128px;
    padding: 16px;
    margin: 0 8px;
    border-radius: 8px;
    background: #37373a;
    box-sizing: border-box;
}
.sc-font .font-list::after {
    content: '';
    position: absolute;
    bottom: 16px; right: 16px;
    background-repeat: no-repeat;
}
.sc-font .font-list.hanna11::after {
    width: 52px; height: 45px;
    background: url(../images/font_hanna11.svg);
}
.sc-font .font-list.jua::after {
    width: 46px; height: 45px;
    background: url(../images/font_jua.svg);
}
.sc-font .font-list.dohyeon::after {
    width: 42px; height: 45px;
    background: url(../images/font_dohyeon.svg);
}
.sc-font .font-list.yeonsung::after {
    width: 33px; height: 50px;
    background: url(../images/font_yeonsung.svg);
}
.sc-font .font-list.kiranghaerang::after {
    width: 37px; height: 45px;
    background: url(../images/font_kiranghaerang.svg);
}
.sc-font .font-list.hannaAir::after {
    width: 42px; height: 45px;
    background: url(../images/font_hannaAir.svg);
}
.sc-font .font-list.hannaPro::after {
    width: 45px; height: 45px;
    background: url(../images/font_hannaPro.svg);
}
.sc-font .font-list.euljiro::after {
    width: 45px; height: 45px;
    background: url(../images/font_euljiro.svg);
}
.sc-font .font-list.euljiro10year::after {
    width: 45px; height: 47px;
    background: url(../images/font_euljiro10year.svg);
}
.sc-font .font-list.euljiroorae::after {
    width: 40px; height: 47px;
    background: url(../images/font_euljiroorae.svg);
}
.sc-font .font-list .font-title {
    font-weight: 700;
    text-align: left;
    color: #6c6d6f;
}
.sc-font .btn-more {
    border: 1px solid #fff;
    background-color: rgba(0,0,0,.3);
}
@keyframes fontSlide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%);
    }
    50.01%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes fontSlideDup {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}

@media all and (max-width:1023px) {
    .container {
        padding-top: 50px;
    }
    .sc-mainSlide .link-slide .txt-box {
        width: 100%;
        font-size: 13px;
    }
    .sc-mainSlide .txt-box .desc {
        padding: 35px 0;
        font-size: 35px;
    }
    .sc-mainSlide .txt-box .cate {
        font-size: 11px;
    }
}

@media all and (max-width:767px) {
    .container .sc-mainSlide {
        height: 550px;
    }
    .sc-inner {
        padding: 0 24px;
        box-sizing: border-box;
    }
    .sc-title {
        font-size: 30px;
        line-height: 1.4;
    }
    .sc-video .video-wrap {
        width: 100%;
    }
    .sc-video {
        margin-bottom: 120px;
    }
    .container .sc-green {
        padding: 0;
    }
    .sc-green .link-green .txt-box {
        left: 0;
        width: 100%;
        transform: translate(0, -50%);
    }
    .sc-green .sc-title {
        font-size: 36px;
    }
    .sc-news .link-news .img-box {
        width: 100px; height: 80px;
        margin-right: 16px;
    }
    .sc-news .txt-box .news-title {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .sc-news .txt-box .date {
        font-size: 12px;
    }
    .footer .menu-area {
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    .footer .menu-area .menu-list {
        flex: none;
        min-width: 33.3334%;
        white-space: nowrap;
        margin-bottom: 40px;
    }
    .footer .menu-area .menu-list:last-child {
        width: 100%;
        padding-top: 40px;
        margin: 6px 0 40px;
        border-top: 1px solid #d6d7da;
    }
    .footer .menu-area .menu-list:last-child .submenu-area {
        display: flex;
        flex-wrap: wrap;
    }
    .footer .menu-area .menu-list:last-child .submenu-list {
        flex-basis: 46%;
    }
    .footer .corp-area {
        flex-direction: column-reverse;
    }
    .footer .corp-area .related-area {
        width: 100%;
    }
    .footer .corp-area .related-area button {
        width: 100%;
        margin-bottom: 40px;
    }
    .corp-area .adress-area {
        font-size: 12px;
        margin: 0 auto;
    }
    .adress-area span {
        display: block;
        white-space: nowrap;
    }
    .adress-area address span+span::before {
        display: none;
    }
}
